{{ define "main" }}
  {{ $context := . }}

  <article id="single">

    <header>

      {{ with .Params.image }}
        {{ partial "featured-image.html" (dict "context" $context "id" .name) }}
      {{ end }}

      <h1 class="title">{{ .Title | markdownify }}</h1>

      <p class="byline">
        {{ with $context.Site.Params.author }}
          {{ . }} &bullet;
        {{ end }}
        {{ .Date.Format "Monday 2 January, 2006" }}
      </p>

    </header>

    {{ .Content }}

  </article>

{{ end }}
