{{ define "main" }}
  {{ $context := . }}

  <article id="single">

    <header>

      {{ with .Params.image }}
        {{ partial
          "featured_image.html"
          (dict
            "context"      $context
            "id"           .name

            "narrow_width"   800
            "narrow_height" 1200

            "wide_width"     900
            "wide_height"    600

            "wide_threshold" 900
          )
        }}
      {{ end }}

      <h1 class="title">{{ .Title | markdownify }}</h1>

      <p class="byline">
        {{ with $context.Site.Params.author }}
          {{ . }} &bullet;
        {{ end }}
        {{ .Date.Format "Monday 2 January, 2006" }}
      </p>

    </header>

    {{ .Content }}

  </article>

{{ end }}
