article header {
  margin-bottom: var(--vertical-margin-medium);
}

article header * {
  margin-top: 0;
  line-height: 1.1;
}

article .byline {
  font-size: 1rem;
}

article#single header picture {
  margin-bottom: var(--vertical-margin-small);
}

#page_side article header picture {
  margin-bottom: 10px;
}

article#single .title {
  font-size: 4rem;
  font-weight: 900;

  margin-bottom: 30px;
}

article#single .byline {
  margin-bottom: var(--vertical-margin-small);
}

article#single .title,
article#single .byline {
  text-align: center;
}

article#single h2 {
  margin-top: 3rem;
}

article#single > img,
article#single > p > img {
  margin-inline: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;

  width: 650px;
}

article#single .title,
article#single .byline,
article#single h2,
article#single p {
  padding-left: var(--inner-margin);
  padding-right: var(--inner-margin);

  max-width: 650px;
  margin-inline: auto;
}

article#single p {
  line-height: 1.6;
}
