#page_header {
  line-height: 1;

  margin-top: var(--vertical-margin-small);
  margin-bottom: 20px;

  margin-left: var(--inner-margin);
  margin-right: var(--inner-margin);
}

#logo_image {
  width: 50%;
  min-width: 300px;
}
