{{ with .Site.Params.copyright }}
  <p>{{ . | markdownify }}</p>
{{ end }}

<nav class="socials">
  <ol>
    {{ with .Site.Params.socials.email }}
      <li><a href="mailto:{{ . }}" title="Email">{{ . }}</a></li>
    {{ end }}

    {{ with .Site.Params.socials.instagram }}
      <li>
        <a href="https://www.instagram.com/{{ . }}" title="{{ . }} on Instagram">
          <img src="/icons/instagram.svg" width="20" height="20" alt="Instagram" />
          {{ . }}
        </a>
      </li>
    {{ end }}
  </ol>
</nav>
