{{ $context := .context }}

<article class="summary side">
  <div class="overlay">
    <div class="overlay_empty"></div>
    <div class="overlay_content">
      <a href="{{ .page.RelPermalink }}" title="{{ .Title }}">
        <p class="byline">{{ .page.Date.Format "Monday 2 January, 2006" }}</p>
        <h1 class="title">{{ .page.Title }}</h1>
      </a>
    </div>
  </div>

  {{ with .page.Params.image }}
    {{ partial
      "featured_image.html"
      (dict
        "context"      $context
        "id"           .name

        "narrow_width"    400
        "narrow_height"   200

        "wide_width"      400
        "wide_height"     500

        "wide_threshold" 1130
      )
    }}
  {{ end }}

</article>
